// Custom Styles
@import "src/assets/scss/backgrounds.scss";
@import "src/assets/scss/colors.scss";
@import "src/assets/scss/values.scss";
@import "src/assets/scss/animations.scss";

$rotation-time: 2s;

.navbar {
  width: auto;
  height: $nav-height;
  padding: 10px;
  background: $bg-navbar-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .logo {
    display: flex;
    min-width: 200px;
    justify-content: flex-start;
  }

  .title {
    height: $nav-height;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    z-index: 0;
  }

  .profile {
    display: flex;
    min-width: 200px;
    justify-content: flex-end;
    text-align: end;
    z-index: 1;

    .data {
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: $txt-color;

      .money {
        letter-spacing: 0px;
        font-weight: 600;
        color: $primary-color;
      }
    }
  }

  .img {
    width: 36px;
    height: 36px;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      animation: rotateInfinite $rotation-time linear infinite;
    }
  }
}
