<div class="container">
    <button class="btn" (click)="toggleSidenav()">
        <div class="btn-container first-btn">
            <img src="../../../../assets/images/logo.png" class="icon" alt="">
            <span class="txt">Monolith Food</span>
        </div>
    </button>
    <button class="btn">
        <div class="btn-container">
            <img src="../../../../assets/images/logo.png" class="icon" alt="">
            <span class="txt">Panel de Inicio</span>
        </div>
    </button>
    <button class="btn">
        <div class="btn-container">
            <img src="../../../../assets/images/logo.png" class="icon" alt="">
            <span class="txt">Mi Perfil</span>
        </div>
    </button>
</div>