@import "src/assets/scss/backgrounds.scss";
@import "src/assets/scss/colors.scss";
@import "src/assets/scss/values.scss";
@import "src/assets/scss/animations.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: $sidebar-width;
  height: 100%;
  color: #000;
  background: #fff;
  transition: width 0.3s ease;

  &.contracted {
    width: $sidebar-contracted-width;
  }
}
