// Custom Styles
@import "src/assets/scss/backgrounds.scss";
@import "src/assets/scss/colors.scss";
@import "src/assets/scss/values.scss";
@import "src/assets/scss/animations.scss";

.public-navbar {
  padding: 0 10%;
  background: $bg-navbar-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Navbar in auth routes
  &.in-auth-page {
    background: $bg-auth-navbar-color;
  }

  .navbar-title {
    height: $bar-size;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 20px;
    display: flex;
    align-items: center;

    .logo-img {
      margin-right: 15px;
      width: 30px;
      height: 30px;
    }

    .logo-txt {
      font-weight: 500;
      font-size: 16px;
      color: $btn-selected;
      white-space: nowrap;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .navbar-buttons {
    height: 30px;
    display: flex;
    align-items: center;

    .btn {
      margin: 0 10px;
      transition: 0.5s;
      font-size: 14px;
      font-weight: 500;
      color: $txt-color-lead;
      border: none;

      &:hover {
        color: $btn-selected;
      }

      &.active-route {
        color: $btn-selected;
      }

      &.active-route:hover {
        color: $btn-selected;
      }
    }
  }

  #menu {
    display: none;
  }
}

@media (max-width: $media-query-xl) {
  .public-navbar {
    #menu {
      display: flex;
      cursor: pointer;
    }

    .navbar-title {
      margin-left: 0;
    }

    .navbar-buttons {
      display: none;
    }
  }
}
