<div class="dialog-container">
    <h1 class="txt">Selecciona tu Nivel de actividad física</h1>
    <div class="alvl">
        <div *ngFor="let activityLevel of data?.activityLevels" (click)="selectActivityLevel(activityLevel)">
            <app-activity-level [data]="activityLevel"></app-activity-level>
        </div>
    </div>
    <div class="btns">
        <div class="update-btn">
            <app-button (click)="setNewActivityLevel()" [text]="'Confirmar selección'" [type]="'primary'" [icon]="''"
                [disabled]="selectedActivityLevels > 1"></app-button>
        </div>
        <p class="count">Tienes seleccionado {{ selectedActivityLevels }} / {{ maxActivityLevels }} nivel de actividad
            física</p>
    </div>
</div>
