// * Window
$bg-color-base-1: rgb(19, 16, 30);
$bg-color-base-2: rgb(31, 15, 15);
// Landing Page
$bg-default-gradient-landing: linear-gradient(
  90deg,
  $bg-color-base-1 0%,
  $bg-color-base-1 30%,
  $bg-color-base-1 70%,
  $bg-color-base-2 100%
);
// Application
$bg-default-gradient-app: linear-gradient(
  270deg,
  $bg-color-base-1 0%,
  $bg-color-base-1 30%,
  $bg-color-base-1 70%,
  $bg-color-base-2 100%
);

// * NavBar
$bg-navbar-color: rgba(0, 0, 0, 0.2);
$bg-navbar-color-solid: #0f0d18;
$bg-auth-navbar-color: rgba(0, 0, 0, 0.75);
$bg-auth-content-color: rgba(0, 0, 0, 0.5);

// Auth Pages
$bg-auth-page: #ffffff;

// * Dialogs
$bg-back-dialog-gradient: rgba(0, 0, 0, 0.7);
$bg-gradient-dialog: linear-gradient(
  180deg,
  rgb(54, 23, 83) 0%,
  rgb(47, 25, 73) 30%,
  rgb(47, 29, 68) 70%,
  rgb(41, 25, 56) 100%
);
