// * Window
// Landing Page
$bg-default-gradient-landing: linear-gradient(
  90deg,
  rgba(19, 16, 30, 1) 0%,
  rgba(19, 16, 30, 1) 30%,
  rgba(19, 16, 30, 1) 70%,
  rgba(31, 15, 15, 1) 100%
);
// Application
$bg-default-gradient-app: linear-gradient(
  270deg,
  rgba(19, 16, 30, 1) 0%,
  rgba(19, 16, 30, 1) 30%,
  rgba(19, 16, 30, 1) 70%,
  rgba(31, 15, 15, 1) 100%
);

// * NavBar
$bg-navbar-color: rgba(0, 0, 0, 0.2);
$bg-auth-navbar-color: rgba(0, 0, 0, 0.75);
$bg-auth-content-color: rgba(0, 0, 0, 0.5);

// Auth Pages
$bg-auth-page: #ffffff;

// * Dialogs
// Opacity Dialog
$bg-back-dialog-gradient: linear-gradient(
  90deg,
  rgba(19, 16, 30, 0.3) 0%,
  rgba(19, 16, 30, 0.3) 30%,
  rgba(19, 16, 30, 0.3) 70%,
  rgba(31, 15, 15, 0.3) 100%
);
// $bg-back-dialog-gradient: rgba(0, 0, 0, 0.6);
// Dialog
$bg-gradient-dialog: linear-gradient(
  180deg,
  rgb(54, 23, 83) 0%,
  rgb(47, 25, 73) 30%,
  rgb(47, 29, 68) 70%,
  rgb(41, 25, 56) 100%
);
