// * Application
$primary-color: #6e6cd3;
$secondary-color: #353585;
$tertiary-color: #161626;
// * Text
$txt-color: #f3f3f3;
$txt-color-light: #ffffff;
$txt-color-lead: #9f9ea3;
//  * Buttons
$btn-selected: $txt-color;
// // * Cards
// $card-border-glow: rgba($txt-color, 0.16) 0px 3px 6px,
//   rgba($txt-color, 0.23) 0px 3px 6px;
