// * Bars
$bar-size: 78px;
$sidebar-expanded-width: 300px;
// * Button
$button-border-radius: 5px;
// * Dialog
$dialog-border-radius: 20px;

// * Media Queries
$media-query-sm: 768px;
$media-query-md: 900px;
$media-query-lg: 1150px;
$media-query-xl: 1300px;
$media-query-xxl: 1500px;
