// * NavBar
$nav-height: 70px;
// * SideBar
$sidebar-width: 300px;
$sidebar-contracted-width: 70px;
$sidebar-button-height: 70px;
// * Button
$button-border-radius: 5px;
// * Dialog
$dialog-border-radius: 20px;
