<div class="container">
    <div class="container-card">
        <div class="card__title">
            <h1>Monolith Food</h1>
            <p>Iniciar sesión</p>
        </div>
        <div class="card__buttons">
            <app-button (click)="googleOauth2()" [text]="'Ingresar con Google'" [type]="'oauth2'" [width]="'large'"
                [icon]="'google'"></app-button>
            <app-button (click)="microsoftOauth2()" [text]="'Ingresar con Microsoft'" [type]="'oauth2'"
                [width]="'large'" [icon]="'microsoft'"></app-button>
            <app-button (click)="githubOauth2()" [text]="'Ingresar con GitHub'" [type]="'oauth2'" [width]="'large'"
                [icon]="'github'"></app-button>
        </div>
        <div class="card__inputs">
            <form [formGroup]="myForm">
                <!-- Nombre -->
                <div class="caja" style="font-size: 12px !important;">
                    <span class="caja-txt">Nombre de usuario</span>
                    <mat-form-field class="caja-input" appearance="outline">
                        <input matInput formControlName="username">
                    </mat-form-field>
                    <div *ngIf="myForm.get('username')?.hasError('required') && myForm.get('username')?.touched"
                        class="has-error">
                        <!-- <span>Este campo es obligatorio</span> -->
                    </div>
                </div>
                <div class="caja">
                    <span class="caja-txt">Contraseña</span>
                    <mat-form-field class="caja-input" appearance="outline">
                        <input matInput formControlName="password">
                    </mat-form-field>
                    <div *ngIf="myForm.get('password')?.hasError('required') && myForm.get('password')?.touched"
                        class="has-error">
                        <!-- <span>Este campo es obligatorio</span> -->
                    </div>
                </div>
                <!-- (Variable: Agregar o Actualizar) y Cancelar -->
                <div class="join__buttons">
                    <app-button [text]="'Ingresar'" [type]="'primary'" [width]="'large'" [icon]="'fa fa-sign-in'"
                        [disabled]="myForm.invalid"></app-button>
                    <div class="extra-btns">
                        <a href="#" class="lost__pass">¿Olvidaste tu contraseña?</a>
                        <span href="#">¿No tienes una cuenta? <a href="#" class="register">Regístrate</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>