// Custom Styles
@import "src/assets/scss/backgrounds.scss";
@import "src/assets/scss/colors.scss";
@import "src/assets/scss/values.scss";
@import "src/assets/scss/animations.scss";

.container {
  // Dialog animation
  transition: width 0.3s ease;
  // Window size
  min-width: 100%;
  min-height: calc(100vh - ($bar-size + (2 * $content-padding-tb)));
  height: 100%;
  color: $txt-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
