<div class="container">
    <div class="container-date">
        <!-- Botón para retroceder un día -->
        <button mat-icon-button (click)="decreaseDateByOneDay()" class="icon">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <!-- Input para seleccionar la fecha -->
        <div class="date-input">
            <mat-form-field class="full-width">
                <mat-label>Seleccionar fecha</mat-label>
                <input matInput [formControl]="selectedDate" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <!-- Botón para avanzar un día -->
        <button mat-icon-button (click)="increaseDateByOneDay()" class="icon">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <!-- <span>en consola se muestra el cambio de fecha</span> -->
    <div class="mat-divider"></div>
    <div class="container-graphs" *ngIf="data$ | async as data">
        <div class="graph">
            <app-basic-graph [nutrientName]="'KCalorias'" [consumed]="data.consumedCalories"
                [dailyIntake]="data.dailyCaloricIntake">
            </app-basic-graph>
        </div>
        <div class="graph">
            <app-basic-graph [nutrientName]="'Proteinas'" [consumed]="data.consumedProteins"
                [dailyIntake]="data.dailyProteinIntake">
            </app-basic-graph>
        </div>
        <div class="graph">
            <app-basic-graph [nutrientName]="'Carbohidratos'" [consumed]="data.consumedCarbohydrates"
                [dailyIntake]="data.dailyCarbohydrateIntake">
            </app-basic-graph>
        </div>
        <div class="graph">
            <app-basic-graph [nutrientName]="'Grasas'" [consumed]="data.consumedFats"
                [dailyIntake]="data.dailyFatIntake">
            </app-basic-graph>
        </div>
    </div>
    <div class="container-intakes">
        <div class="desayuno intake">
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
        </div>
        <div class="almuerzo intake">
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
        </div>
        <div class="cena intake">
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
            <span>hola</span>
        </div>
    </div>
</div>