<div class="container">
    <button class="btn" mat-raised-button color="primary"
        (click)="openCustomSnackbar('Alimento registrado exitosamente', ResponseType.SUCCESS)">Success</button>
    <button class="btn" mat-raised-button color="primary"
        (click)="openCustomSnackbar('No se ha confirmado la compra', ResponseType.WARN)">Warning</button>
    <button class="btn" mat-raised-button color="primary"
        (click)="openCustomSnackbar('El alimento ya está en tus favoritos', ResponseType.INFO)">Info</button>
    <button class="btn" mat-raised-button color="primary"
        (click)="openCustomSnackbar('Ya tienes un nivel registrado', ResponseType.ERROR)">Error</button>
    <button class="btn" mat-raised-button color="primary"
        (click)="openCustomSnackbar('Alimento agregado a favoritos', ResponseType.FAVORITE)">Favorite</button>
</div>