// Custom Styles
@import "src/assets/scss/backgrounds.scss";
@import "src/assets/scss/colors.scss";
@import "src/assets/scss/values.scss";
@import "src/assets/scss/animations.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$container-height: calc(100vh - ($bar-size + (2 * $content-padding-tb)));

.container {
  // Dialog animation
  transition: width 0.3s ease;
  min-height: $container-height;
  height: 100%;
  min-width: 100%;
  color: $txt-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  // Direccion del Flex
  flex-direction: column; // column
  gap: 50px;

  .btn {
    z-index: 0;
  }
}
