<div class="all" [class.all-landing]="!isPrivateRoute()" [class.all-app]="isPrivateRoute()"
    [class.expanded-sidebar]="isSidebarExpanded">
    <app-sidebar *ngIf="isPrivateRoute() && notIsErrorPage();"></app-sidebar>
    <!-- <div class="navbar-container"> -->
    <app-private-navbar *ngIf="isPrivateRoute() && notIsErrorPage(); else publicNavbar"></app-private-navbar>
    <ng-template #publicNavbar>
        <app-public-navbar *ngIf="notIsErrorPage();"></app-public-navbar>
    </ng-template>
    <div class="content" [class.content-void]="!isPrivateRoute()">
        <router-outlet></router-outlet>
    </div>
</div>