// Custom Styles
@import "src/assets/scss/backgrounds.scss";
@import "src/assets/scss/colors.scss";
@import "src/assets/scss/values.scss";
@import "src/assets/scss/animations.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Window
.all {
  width: 100vw;
  height: 100vh;
  color: $txt-color;

  // Backgrounds
  &.all-landing {
    background: $bg-default-gradient-landing;
  }

  &.all-app {
    background: $bg-default-gradient-app;
  }

  // Content
  .content {
    height: calc(100vh - $bar-size);
    padding: 50px 10%;
    margin-left: $bar-size;
  }

  .content-void {
    margin-left: 0;
  }
}
