<div class="container">
    <div class="div">esto</div>
    <div class="div"></div>
    <div class="div">es</div>
    <div class="div"></div>
    <div class="div">un</div>
    <div class="div"></div>
    <div class="div">ejemplo</div>
    <div class="div"></div>
    <div class="div">de</div>
    <div class="div"></div>
    <div class="div">flexbox</div>
    <button mat-raised-button color="primary" (click)="openCustomSnackbar('Success', 'SUCCESS')">Success</button>
    <button mat-raised-button color="primary" (click)="openCustomSnackbar('Warning', 'WARN')">Warning</button>
    <button mat-raised-button color="primary" (click)="openCustomSnackbar('Info', 'INFO')">Info</button>
    <button mat-raised-button color="primary"
        (click)="openCustomSnackbar('Esssssssssssssssssssssssssssssssssssssssssssssssssssssssssssrror', 'ERROR')">Error</button>
    <button mat-raised-button color="primary" (click)="openCustomSnackbar('Favorite', 'FAVORITE')">Favorite</button>
</div>