// Custom Styles
@import "src/assets/scss/backgrounds.scss";
@import "src/assets/scss/colors.scss";
@import "src/assets/scss/values.scss";
@import "src/assets/scss/animations.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container2 {
    // Dialog animation
    transition: width 0.3s ease;
    // Window size
    min-width: 100%;
    min-height: calc(100vh - ($bar-size + (2 * $content-padding-tb)));
    max-width: 100%;
    height: 100%;
    color: $txt-color;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  //!NO TOCAR NADA DE ARRIBA , PROHIBIDO!

  // Direccion del Flex
  flex-direction: row; // column     

  // Modificaciones del usuario
  .div {
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(184, 184, 184);
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-group 
  {
   color: white;
  }

  .input-group input {
    margin-top: 5px;
    width: 100%;
    padding: 10px 5px;
    padding-left: 40px;
    background-color: #2F1C44;
    outline: none;
    border: 2px solid #413651;
    color: white;  
  }

  .input-group input:focus {
    border: 1px solid #fafafa;
  }

  .input-group select {
    margin-top: 5px;
    width: 100%;
    padding: 10px 5px;
    padding-left: 40px;
    background-color: #2F1C44;
    outline: none;
    border: 2px solid #413651;
    color: white;
  }

  .input-group i {
    font-size: 20px;
    transform: translate(12px, -32px);
  }

  button {
    background-color: #66308E;
    border: none;
    padding: 10px 28px;
    color: white;
    border-radius: 3px;
  }

  button:hover {
    filter: brightness(1.1);
  }
  
  .avatar {
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .data-perfil {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .data-perfil .name {
    font-size: 1.001rem;
  }
  
  .data-perfil .email {
    color: #c4c4c4;
  }
  
  .data-perfil .folowers {
    color: #c4c4c4;
  }
  
  .social-media {
    margin-left: 60px;
    gap: 10px;
    font-size: 30px;
  }
  .switch-perfil{
    color: white;
  }
  .box{
    width: 50px;
  }
  .icon{
    background-color: #66308E;
    color: white;
    padding: 1px 5px;
    border-radius: 5px;
    margin-right: 5px;
  }


}


