<div class="container">
    <!-- RESUME -->
      <section class="section resume grid" id="resume">
        <div class="resume-text">
          <div>
            <h2 class="section_title">¿Cuál es nuetro propósito?</h2>
            <p>
              Nuestra empresa tiene como propósito principal ayudar a las
              personas a tomar el control de su alimentación y mejorar su estilo
              de vida. A través de nuestro software, ofrecemos un enfoque
              personalizado en la alimentación, utilizando un escáner automático
              para hallar los macronutrientes de forma precisa y eficiente.
            </p>
            <div class="mision__vision">
              <div class="mision">
                <h3 class="section_subtitle">Nuestra Misión</h3>
                <p>
                  Nuestra misión es proporcionar una solución de software
                  personalizada en el ámbito de la alimentación, utilizando
                  tecnología innovadora y análisis de datos precisos para ayudar
                  a las personas a tomar el control de su alimentación y mejorar
                  su estilo de vida.
                </p>
              </div>
              <div class="vision">
                <h3 class="section_subtitle">Nuestra Visión</h3>
                <p>
                  Nuestra visión es convertirnos en la plataforma líder en el
                  campo de la alimentación personalizada, ofreciendo a nuestros
                  usuarios una experiencia interactiva y personalizable que les
                  permita alcanzar sus objetivos de salud y bienestar de manera
                  efectiva y sostenible.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="resume-img">
          <img src="assets/images/about-us/img2.webp" alt="Imagen de nosotros" />
        </div>
      </section>

      <!-- VALUES AND CULTURE -->
      <section class="section vac grid" id="vac">
        <div class="flex vac-img">
          <img
            src="assets/images/about-us/img3.webp"
            alt="Error al cargar la imagen 1 de Values and Culture"
          />
          <img
            src="assets/images/about-us/img4.webp"
            alt="Error al cargar la imagen 2 de Values and Culture"
          />
        </div>
        <div class="flex vac-text">
          <h2 class="section_title vac__title">Valores y Culturas</h2>

          <div class="vac__item">
            <h3 class="section_subtitle">Personalización</h3>
            <p>
              Nos enfocamos en la individualidad de cada usuario, ofreciendo un
              enfoque personalizado en la alimentación. Adaptamos los planes de
              comidas y recomendaciones de alimentos según las necesidades y
              objetivos específicos de cada persona.
            </p>
          </div>
          <div class="vac__item">
            <h3 class="section_subtitle">Calidad y detalle</h3>
            <p>
              Nos comprometemos a brindar un servicio de calidad y detallado.
              Proporcionamos información precisa y completa sobre el progreso de
              los usuarios, permitiendo un seguimiento exhaustivo de su consumo
              de macronutrientes y calorías. Nos preocupamos por ofrecer datos
              confiables y útiles para mejorar la alimentación y el estilo de
              vida.
            </p>
          </div>
          <div class="vac__item">
            <h3 class="section_subtitle">Confianza y credibilidad</h3>
            <p>
              Valoramos la confianza de nuestros usuarios y nos esforzamos por
              proporcionar resultados basados en datos confiables. Utilizamos
              inteligencia artificial y recopilamos información de fuentes
              confiables en Internet para asegurar que nuestra aplicación sea
              confiable y brinde resultados precisos y útiles.
            </p>
          </div>
        </div>
      </section>

      <!-- DEVELOPMENT TEAM -->
      <section class="section dev" id="dev">
        <div class="heading">
          <h2 class="section_title">Equipo de Desarrollo</h2>
        </div>
        <div class="dev__container">
          <div class="box">
            <img
              class="box-img"
              src="assets/images/about-us/willy.webp"
              alt="No se pudo cargar la foto de Willy Samata Ccoya"
            />
            <h4>"Líder del Proyecto"</h4>
            <h3>Willy Samata Ccoya</h3>
            <p class="box-desc">
              Mi nombre es Willy, tengo 20 años y fui responsable de liderar y
              coordinar el equipo de desarrollo, asegurando el cumplimiento de
              los objetivos y la entrega exitosa del programa.
            </p>
          </div>
          <div class="box">
            <img
              class="box-img"
              src="assets/images/about-us/brian.webp"
              alt="No se pudo cargar la foto de Brian Uceda Hirata"
            />
            <h4>"Jefe de Control de Versiones"</h4>
            <h3>Brian Uceda Hirata</h3>
            <p class="box-desc">
              Mi nombre es Brian, tengo 19 años recien cumplidos y fui
              responsable de configurar y gestionar el repositorio de GitHub,
              asegurando un control de versiones adecuado y un despliegue
              correcto del programa.
            </p>
          </div>
          <div class="box">
            <img
              class="box-img"
              src="assets/images/about-us/gabriela.webp"
              alt="No se pudo cargar la foto de Gabriela Reyes"
            />
            <h4>"Desarrollador Frontend"</h4>
            <h3>Gabriela Reyes</h3>
            <p class="box-desc">
              Mi nombre es Gabriela, tengo 20 años y me encargué de implementar la
              interfaz de usuario utilizando HTML, SCSS, Angular material y Typescrip, creando una
              experiencia atractiva y fácil de usar.
            </p>
          </div>
          <div class="box">
            <img
              class="box-img"
              src="assets/images/about-us/heather.webp"
              alt="No se pudo cargar la foto de Heather Valencia Dominguez"
            />
            <h4>"Diseñador U.X."</h4>
            <h3>Heather Valencia Dominguez</h3>
            <p class="box-desc">
              Mi nombre es Heat, tengo 19 años y fui responsable de diseñar la
              experiencia de usuario, asegurando una navegación intuitiva y una
              interfaz agradable para los usuarios.
            </p>
          </div>
          <div class="box">
            <img
              class="box-img"
              src="assets/images/about-us/naydeline.webp"
              alt="No se pudo cargar la foto de Ana Maria Tapia Hurtado"
            />
            <h4>"Analista de Datos"</h4>
            <h3>Naydeline Duran Guerrero</h3>
            <p class="box-desc">
              Mi nombre Naydeline Duran Guerrero, tengo  19 años y me encargué de analizar
              los datos de los usuarios, proporcionando recomendaciones
              personalizadas basadas en su consumo de nutrientes.
            </p>
          </div>
        </div>
      </section>
</div>