<div class="container1">
    <div class="search-container">
        <div class="svg-container">
            <img src="../../../../../../assets/svgs/search-icon.svg" alt="">
        </div>
        <input class="search-input" type="text" placeholder="Buscar alimento">
        <button aria-label="filter" class="filter">
            <img src="../../../../../../assets/svgs/filter.svg" alt="">
        </button>
    </div>
</div>
<div class="container">
    <app-food *ngFor="let food of data?.foods" [details]="food" [hasRequiredRoles]="hasRequiredRole"></app-food>
</div>