<div class="container">
    <div class="container-card">
        <div class="card__title">
            <h1>Monolith Food</h1>
            <p>Registrarse</p>
        </div>
        <div class="card__buttons">
            <app-button (click)="githubOauth2()" [text]="'Ingresar con GitHub'" [type]="'oauth2'"
                [icon]="'github'"></app-button>
            <app-button (click)="microsoftOauth2()" [text]="'Ingresar con Microsoft'" [type]="'oauth2'"
                [icon]="'microsoft'"></app-button>
            <app-button [disabled]="true" (click)="googleOauth2()" [text]="'¡Proximamente!'" [type]="'oauth2'"
                [icon]="'google'"></app-button>
        </div>
        <div class="card__inputs">
            <form [formGroup]="registerForm">
                <!-- Nombre de usuario -->
                <div class="caja validation-available">
                    <span class="caja-txt">Nombre de usuario</span>
                    <mat-form-field class="caja-input" appearance="outline">
                        <input matInput formControlName="username" autocomplete="username" title="Username input">
                    </mat-form-field>
                    <div *ngIf="registerForm.get('username')?.touched">
                        <ng-container *ngIf="registerForm.get('username')?.hasError('required'); else minLengthError">
                            <div class="has-error">
                                <span>Este campo es obligatorio</span>
                            </div>
                        </ng-container>
                        <ng-template #minLengthError>
                            <ng-container
                                *ngIf="registerForm.get('username')?.hasError('minlength'); else noUpperCaseError">
                                <div class="has-error">
                                    <span>Debe tener al menos 6 caracteres</span>
                                </div>
                            </ng-container>
                        </ng-template>
                        <ng-template #noUpperCaseError>
                            <ng-container *ngIf="registerForm.get('username')?.hasError('hasUpperCase')">
                                <div class="has-error">
                                    <span>No debe contener letras mayúsculas</span>
                                </div>
                            </ng-container>
                        </ng-template>
                    </div>
                </div>
                <!-- Correo electrónico -->
                <div class="caja">
                    <span class="caja-txt">Correo electrónico</span>
                    <mat-form-field class="caja-input" appearance="outline">
                        <input matInput formControlName="email" title="Email input">
                    </mat-form-field>
                    <div *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched"
                        class="has-error">
                        <span>Este campo es obligatorio</span>
                    </div>
                    <div *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched"
                        class="has-error">
                        <span>El correo electrónico no es válido</span>
                    </div>
                </div>
                <!-- Contraseña -->
                <div class="caja">
                    <span class="caja-txt">Contraseña</span>
                    <mat-form-field class="caja-input" appearance="outline">
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                            autocomplete="current-password" title="Password input">
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div *ngIf="registerForm.get('password')?.touched">
                        <ng-container *ngIf="registerForm.get('password')?.hasError('required'); else minLengthError">
                            <div class="has-error">
                                <span>Este campo es obligatorio</span>
                            </div>
                        </ng-container>
                        <ng-template #minLengthError>
                            <ng-container
                                *ngIf="registerForm.get('password')?.hasError('minlength'); else upperCaseError">
                                <div class="has-error">
                                    <span>Debe tener al menos 8 caracteres</span>
                                </div>
                            </ng-container>
                        </ng-template>
                        <ng-template #upperCaseError>
                            <ng-container
                                *ngIf="registerForm.get('password')?.hasError('hasUpperCase'); else lowerCaseError">
                                <div class="has-error">
                                    <span>Debe contener al menos una letra mayúscula</span>
                                </div>
                            </ng-container>
                        </ng-template>
                        <ng-template #lowerCaseError>
                            <ng-container
                                *ngIf="registerForm.get('password')?.hasError('hasLowerCase'); else numericError">
                                <div class="has-error">
                                    <span>Debe contener al menos una letra minúscula</span>
                                </div>
                            </ng-container>
                        </ng-template>
                        <ng-template #numericError>
                            <ng-container
                                *ngIf="registerForm.get('password')?.hasError('hasNumeric'); else specialCharacterError">
                                <div class="has-error">
                                    <span>Debe contener al menos un dígito numérico</span>
                                </div>
                            </ng-container>
                        </ng-template>
                        <ng-template #specialCharacterError>
                            <ng-container *ngIf="registerForm.get('password')?.hasError('hasSpecialCharacter');">
                                <div class="has-error">
                                    <span>Debe contener al menos un carácter especial</span>
                                </div>
                            </ng-container>
                        </ng-template>
                    </div>
                </div>
                <!-- Nombre completo -->
                <div class="caja caja-last">
                    <span class="caja-txt">Nombre completo</span>
                    <mat-form-field class="caja-input" appearance="outline">
                        <input matInput formControlName="names" title="Names input">
                    </mat-form-field>
                    <div *ngIf="registerForm.get('names')?.hasError('required') && registerForm.get('names')?.touched"
                        class="has-error">
                        <span>Este campo es obligatorio</span>
                    </div>
                </div>
                <app-button class="join-btn" (click)="register()" [text]="'Crear cuenta'" [type]="'primary'"
                    [icon]="'fa fa-sign-in'" [disabled]="registerForm.invalid"></app-button>
            </form>
            <!-- (Variable: Agregar o Actualizar) y Cancelar -->
            <div class="extra-btns">
                <span class="new__account">¿Ya tienes una cuenta?
                    <a routerLink="/login" class="register">Inicia sesión</a>
                </span>
            </div>
        </div>
    </div>
</div>
