// Custom Styles
@import "src/assets/scss/backgrounds.scss";
@import "src/assets/scss/colors.scss";
@import "src/assets/scss/values.scss";
@import "src/assets/scss/animations.scss";




//para la pantalla 
$container-height: calc(100vh - ($bar-size + (2 * $content-padding-tb)));
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  // Dialog animation
  transition: width 0.3s ease;
  // Window size
  min-width: 100%;
  min-height: $container-height;
  max-width: 100%;
  height: 100%;
  color: $txt-color;
  display: flex;
  justify-content: center;
  align-items: center;
  //flex-wrap: wrap;
  // Direccion del Flex
  flex-direction: row; // column
  //background-color: blue;

  // Modificaciones del usuario
  .div {
    gap:10px;
    width: 50%;
    height:$container-height;
    // background-color: rgba(0, 0, 0, 0.2);
    //background-color: red;
    color: rgb(184, 184, 184);
    //margin: 5px;
    border-radius: 5%;
    display: flex;
    flex-direction:column; 
    justify-content: center;
    align-items: center;
    // border-color: rgb(30, 30, 199);
      .objetives, .calories{
        //background-color: aquamarine;
        align-items: center;
        justify-content: center;
        width: 100%;  
        background-color: rgba(0, 0, 0, 0.2);
        //solo a la clase que tiene objetives y short
        &.short{
            height: 30%;
        }

        .demo-chart {
          width: 90%;
        }


        .card{
          width: 90%;
          margin-top: 1%;
        }
      }
      .calories{
        align-items: flex-end;
        justify-content: flex-end;
      }

    
  }
}

