// Material Design Components
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// Custom Styles
@import "src/assets/scss/backgrounds.scss";
@import "src/assets/scss/colors.scss";
@import "src/assets/scss/values.scss";
@import "src/assets/scss/animations.scss";
@import "src/assets/scss/utility.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // Scrollbar
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: $bg-color-base-1;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

// * Dialog
.mat-mdc-dialog-surface {
  background: transparent !important;
  border-radius: $dialog-border-radius;
}
.style-css-dialog-background {
  background-color: $bg-back-dialog-gradient;
  // backdrop-filter: blur(2px);
}

// * Input
.mat-mdc-form-field-bottom-align {
  display: none !important;
}
.mat-mdc-text-field-wrapper,
.mat-mdc-form-field-flex,
.mat-mdc-form-field-infix {
  height: $input-height !important;
  min-height: $input-height !important;
  display: flex !important;
}
.validation-available {
  .mat-mdc-text-field-wrapper {
    padding: 0 70px 0 16px !important;
  }
}
.mat-mdc-form-field-infix {
  padding: 0 !important;
  display: flex;
  align-items: center;
}
.mat-mdc-form-field-input-control {
  height: calc($input-height - (27.78% + 27.78%)) !important;
  font-size: 14px !important;
}
